* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	body {
		background-color: #CCC;
		font-family: 'Roboto', sans-serif;
		font-family: 'Bubbler One', sans-serif;
		background: url(img/background.jpeg) 10%;

		.multiplicationBox {
			display: flex;
			width: 50%;
			min-height: 100vh;
			margin: 0 auto;
			text-align: center;
		
			.flexBox {
				min-height: 40vh;
				padding: 10px;
				color: black;
				background-color: white;
				margin: auto;
				box-shadow:1px 1px 5px 5px #C9C9C9;

				.flexBoxItem {
					flex-basis: 100%;
					font-size: 24px;
					line-height: 1.7;
				}

				h2 {
					font-size: 42px;
					padding: 5px;
				}

				h3 {
					font-size: 32px;
					padding: 5px;
				}

				p {
					padding: 10px 0;
				}

				#demo, #demo2, #demo3 {
					color: green;
					font-weight: bold;
					padding: 0;
				}

			}
		}
	} /* End of body */
}